/*********************
PHONE/SMALL DEVICE
*********************/

/*********************
MAIN HEADER
*********************/

@media screen and (max-width: 659px) and (min-width: 200px) {

#header {
    max-width: 100%;
    position: fixed;
    z-index: 15;
    transition: all 0.4s ease;
	}

.container {
	max-width:100%;
	margin:0 auto;
	padding:5px;
	position:relative;
	}

#logo {
	width:35%;
	height:80%;
	position:relative;
	max-width: 100%;
	border:0;
	margin: 0 auto;
}
#logo img {
	width: 100%
	height: auto;
}
#header-right {
	display: none;
}
#search-button {
	display: none;
}
#sign-in-register-link {
	display: none;
}

#nav a {
	font-size: .7em;
}
#slider {
	position:relative;
	overflow:auto;
	font-size:1.1em;
	color:rgba(255,255,255,0.6);
	font-family: "Raleway", sans-serif;
	font-weight:400;
	line-height:1.5em;
	text-align:center;
	letter-spacing:0.3px;
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	background:rgba(0,0,0,0.85);
	max-height: 28%
	padding: 20% 0 20% 0;
	max-width: 100%
}

#slider ul li {
	float:left;
	padding:20% 0 27%;
	min-height:47%;
	min-width:100%;
}



}

/***********************
MEDIUM-LARGE
***********************/
@media screen and (max-width: 3500px) and (min-width: 500px) {
#footer-right a .ph {
	display: none;
	}
}